/wiki/target
/wiki/lib
/wiki/classes
/wiki/checkouts
/worker/target
/worker/lib
/worker/classes
/worker/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.lein-repl-history
\#*\#
\#*
.#*
.DS_Store
*~%
*~
wiki/.nrepl-port
data/
