/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.lein-repl-history
\#*\#
\#*
.#*
.DS_Store
*~%
*~
wiki/.nrepl-port
/data
.idea
wiki.iml
id_rsa
.travis/id_rsa
keys/id_rsa
client/node_modules
client/bower_components
log.txt