.navbar-input-group {
    font-size: 0px; /*removes whitespace between button and input*/
    display: inline-block;
    width: 200px;
}

.navbar-input-group input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.navbar-input-group .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}

.container .col-md-10 > h1:first-child {
    margin-top: 5px;
}

.sample {
    width: 450px;
    height: 280px;
    display: block;
}

.sample a.btn {
    border-radius: 0;
    border-top-left-radius: 4px;
    float: right;
}
.sample iframe {
    border: 1px solid #cdcdcd;
    margin-left: 0;
    margin-right: 0;
    width: 450px;
    height: 250px;
    overfow: hidden;
}

.container ul.nav {
    overflow-x: scroll;
}

.item-list-overlay {
    font-family: "Trebuchet MS" sans-serif;
    font-size: 14px;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    border-bottom-color: #ddd;
}

.nav-tabs>li>a {
    padding-top: 4px;
    padding-bottom: 3px;
}

.item-list-overlay{
    overflow: scroll;
}

dl.item-list dt span{
    cursor: pointer;
}